body {
	font-family: helvetica;
}

.box {
	float: left;
	border: 1px solid black;
	background-color: grey;
	font-size: 16px;
}

.box:last-child:after {
	clear: both;
}

.box.selected.empty {
	background-color: white;
}

.box.selected.hint {
	background-color: #AAAAAA;
}

.box.selected.bomb {
	background-color: black
}

.box.flag {
	background-color: #555555;
}

.instructionsContainer {
	width: 600px;
	margin-top: 20px;
	clear: both;
}

.instructionsTitle {
	font-weight: bold;
	font-size: 20px;
}

a {
	display: block;
	margin-top: 20px;
}
